@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Manrope", sans-serif;
  max-width: 100vw;
  background: black;
}

.circle {
  mix-blend-mode: difference;
  background-color: white;
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;

  border-radius: 200px;
  pointer-events: none;
  text-align: center;
  font-size: 16px;
}

/*body {*/
/*  background:*/
/*          linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),*/
/*          linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),*/
/*          linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),*/
/*          linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),*/
/*          linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),*/
/*          linear-gradient(-90deg, #aaa 1px, transparent 1px),*/
/*          linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),*/
/*          linear-gradient(#aaa 1px, transparent 1px),*/
/*          #f2f2f2;*/
/*  background-size:*/
/*          4px 4px,*/
/*          4px 4px,*/
/*          80px 80px,*/
/*          80px 80px,*/
/*          80px 80px,*/
/*          80px 80px,*/
/*          80px 80px,*/
/*          80px 80px;*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

::-webkit-scrollbar {
  height: 5px;
  width: 12px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  -webkit-border-radius: 8px;
}

.typography-4xl {
  @apply mb-8 font-bold text-content-primary-dark  tracking-tight  max-w-3xl m-auto leading-[4.5rem] text-4xl md:leading-[3.5rem] md:text-3xl sm:text-2xl sm:leading-[3rem];
}

.typography-3xl {
  @apply relative text-3xl font-bold text-content-primary-dark tracking-tight md:leading-[3rem] md:text-2xl sm:leading-[2.5rem] sm:text-xl;
}

.typography-2xl {
  @apply relative text-2xl font-bold text-content-primary-dark tracking-tight md:leading-[3rem] md:text-xl sm:leading-[2.5rem] sm:text-base;
}

.typography-xl {
  @apply relative text-xl font-bold text-content-primary-dark tracking-tight md:leading-[3rem] md:text-base sm:leading-[2.5rem];
}


.typography-base {
  @apply font-medium text-content-secondary-dark tracking-tight m-auto text-base;
}

.typography-lg {
  @apply font-medium text-content-secondary-dark tracking-tight m-auto text-lg sm:text-base font-mono leading-8;
}

.feature-container {
  @apply container z-10 mb-40 grid items-center content-center gap-16 text-center;
}
.feature-tag {
  @apply font-semibold font-special text-accent-purple text-base rounded-full border border-2 inline-flex border-accent-purple px-4 m-4;
}

.flat-nested-wrapper_nested {
  @apply min-h-[220px];
  grid-template-areas:  "first second third"
          "firstAlbum secondAlbum thirdAlbum"
          "firstSong  secondSong thirdSong";
}

.flat-nested-wrapper_flat {
  @apply min-h-[220px];
  grid-template-areas: "first firstAlbum firstSong"
  "second secondAlbum secondSong"
  "third thirdAlbum thirdSong";
}

@media (max-width: 984px) {
  .flat-nested-wrapper_nested {
    @apply min-h-[570px] sm:min-h-[370px];
    grid-template-areas:  "first"
            "firstAlbum"
            "firstSong"
            "second"
            "secondAlbum"
            "secondSong"
            "third"
            "thirdAlbum"
            "thirdSong";
  }

  .flat-nested-wrapper_flat {
    @apply min-h-[570px] sm:min-h-[370px];
    grid-template-areas: "firstAlbum thirdSong third"
          "thirdAlbum secondSong firstSong"
          "second  secondAlbum first";
  }
}


@layer base {
  .font-outline {
    -webkit-text-stroke: 0.1rem #fff;
  }
}

